@using Microsoft.EntityFrameworkCore.Query.SqlExpressions 
@*@model IEnumerable<MovieShop.Core.Models.Response.MovieResponseModel>*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        Welcome
    </h1>
    @ViewBag.myproperty
</div>
