@model IEnumerable<MovieShop.Core.Models.MovieResponseModel>
@{
    ViewData["Title"] = "Home Page";
}


<div class="card" style="width: 18rem;">
    <div class="container-fluid bg-light">
        <div class="row">
            @foreach (var movie in Model)
            {
            <div class="col-6">
                //call our movie card from here
                @await Html.PartialAsync("_MovieCard", movie)
            </div>

            }
        </div>
    </div>
</div>
